<!DOCTYPE html>
<html>
<head>
  <title>RorApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class = "nav nav-tabs">
    <li><%= link_to "home", root_path%></li>
    <li><%= link_to "about us", welcome_about_path%></li>
    <li><%= link_to "features", welcome_features_path%></li>
    <li><%= link_to "contact", welcome_contact_path%></li>
    <li><%= link_to "faqs", welcome_faq_path%></li>
    <li><%= link_to "invoices", invoices_path%></li>
    <li><%= link_to "login", welcome_login_path%></li>
  </ul>
  <%= yield %>
</div>
</body>
</html>
